@tailwind base;
@tailwind components;
@tailwind utilities;


header div{
    width: 10vw;
    display: flex;
    height: 55px;
    align-items: center;
    justify-content: center;
    /*border-bottom: 6px solid #66007a;*/
}

header{

    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: 55px;
    /*background-color: #ae14cb;*/
    /*background: linear-gradient(180deg, #a01eb8, #9e2db3);*/
    /*background: linear-gradient(180deg, #2fd0fa, #00a2c8);*/
    /*background-color: #7043aa   ;*/
    background: linear-gradient(180deg, #7043aa, #8a4fd6);
    color: white;
    font-weight: bold;
    box-shadow: black 15px 0 20px;
    border-bottom: solid 1px black;
}

.navigator{
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
}

.logo{
    width: 40vw;
}

header div:hover{
    /*border-bottom: 6px solid #66007a;*/
    border-bottom: 6px solid #51307a;
    transition: all 0.15s;
    border-collapse: collapse;
    background-color: #6b40a1;
    /*background-color: #008baa;*/
}

@media screen and (max-width: 900px) {
    header div{
        font-size: 10px;
    }
}

@media screen and (max-width: 578px) {
    header div{
        font-size: 8px;
    }
}


table, tr, td, th{
    /*border-collapse: collapse;*/
    border: solid 2px black;
}

tr, th, td{
    padding: 10px 10px;
    margin-bottom: 5px;
}

th{
    background-color: #ff6213;

}

td{
    background-color: white;
    padding: 5px;
    margin: 55px;
}

tr{
    border-radius: 10px;
    margin: 50px;
}

tr:hover td{
    background-color: rgba(183, 191, 202, 0.89);
    transition: all 0.35s;
}



.potentialuser{
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    text-align: center;
    /*background-color: #9c1fb5;*/
    overflow: auto;
    width: 95vw;
    margin: auto;
    border-radius: 10px;
    padding: 5px;
    height: 80%;
    box-shadow: black 5px 5px 20px;
}

.potentialuser::-webkit-scrollbar{
    display: none;
}

.potentialuser{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.student::-webkit-scrollbar{
    display: none;
}

.student{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

table{
    text-align: center;
    border-radius: 10px;
    margin: 5px auto;

}

.addpotential{
    background-color: #7043aa;
    color: white;
    font-size: 18px;
    padding: 10px;
    border: #7043aa solid 3px;
    border-radius: 15px;
    margin: 10px 45px 20px 10px;
    float: right;
    box-shadow: black 5px 5px 10px;
    font-weight: bold;
}

.addpotential:hover{
    scale: 1.1;
    transition: all 0.35s;
    background-color: #cc531c;
}

.del{
    padding: 8px;
}

.edit{
    padding: 10px;
}

table button{
    background-color: #7043aa;
    color: white;
    border-radius: 15px;
    border: #7043aa solid 2px;
    padding: 5px;
    margin: 5px;
}

table button:hover{
    scale: 1.1;
    transition: all .2s;
}

table form, a{
    margin: 0;
    padding: 0;
}

table select, textarea{
    border: 1px solid black;
}

.colored{
    background-color: rgba(221, 226, 232, 0.9);
}

.gap{
    margin: 2px;
}

.contentpotential{
    /*background-color: #ff6213;*/
    /*background: linear-gradient(180deg, #ff691f, #e35400);*/
    height: 85vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: auto;
    /*box-shadow: black 15px 0px 20px;*/

}

.contentpotential h1{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 5px;
}


.contentstudent{
    /*background: linear-gradient(180deg, #ff691f, #e35400);*/
    height: 85vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.addstudent{
    /*background-color: #ff6213;*/
    background-color:#7043aa;
    color: white;
    font-size: 18px;
    padding: 10px;
    border: #7043aa solid 3px;
    border-radius: 15px;
    margin: 10px 45px 10px 10px;
    float: right;
    box-shadow: black 5px 5px 10px;
    font-weight: bold;
}

.addstudent:hover{
    scale: 1.1;
    transition: all 0.35s;
    background-color: #cc531c;
}

.student{
    text-align: center;
    overflow: auto;
    width: 95vw;
    margin: auto;
    border-radius: 10px;
    padding: 5px;
    height: 80%;
    box-shadow: black 5px 5px 20px;
}

.contentstudent h1{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 5px;
}

.contentteacher{
    /*background: linear-gradient(180deg, #ff691f, #e35400);*/
    height: 85vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.addteacher{
    background-color: #7043aa;
    padding: 10px;
    font-size: 18px;
    color: white;
    border: #7043aa solid 3px;
    border-radius: 15px;
    margin: 10px 45px 20px 10px;
    float: right;
    box-shadow: black 5px 5px 10px;
    font-weight: bold;
}

.addteacher:hover{
    scale: 1.1;
    transition: all 0.35s;
    background-color: #cc531c;
}

.teacher{
    text-align: center;
    overflow: auto;
    width: 95vw;
    margin: auto;
    border-radius: 10px;
    padding: 5px;
    height: 80%;
    box-shadow: black 5px 5px 20px;
}

.contentteacher h1{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 5px;
}

.contentgroup{
    /*background: linear-gradient(180deg, #ff691f, #e35400);*/
    height: 85vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.addgroup{
    background-color: #7043aa;
    color: white;
    padding: 10px;
    font-size: 18px;
    border: #7043aa solid 3px;
    border-radius: 15px;
    margin: 10px 45px 20px 10px;
    float: right;
    box-shadow: black 5px 5px 10px;
    font-weight: bold;
}

.addgroup:hover{
    scale: 1.1;
    transition: all 0.35s;
    background-color: #cc531c;
}

.group{
    text-align: center;
    /*background-color: #9c1fb5;*/
    overflow: auto;
    width: 95vw;
    margin: auto;
    border-radius: 10px;
    padding: 5px;
    height: 80%;
    box-shadow: black 5px 5px 20px;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.contentgroup h1{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 5px;
}

main{
    /*background: linear-gradient(180deg, #b4efff, #7ccddc);*/
    height: 85vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.maindiv{
    /*background-color: darkgrey;*/
    /*background-color: #3cb5d8;*/
    background-color: #ef7d00;
    width: 192px;
    height: 20vh;
    /*float: left;*/
    display: flex;
    flex-wrap: wrap;
    /*padding: 20px 20px;*/
    text-align: center;
    margin: 10px 5%;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    /*margin: 20px auto;*/
    border-radius: 10px;
}

.maindiv:hover{
    /*background-color: darkgrey;*/
    background-color: #ef7d00;
    transition: all 0.3s;
    scale: 1.1;
    box-shadow: black 1px 1px 10px;
}

.contentmain {
    width: 90vw;
    height: 60vh;
    margin: auto;
    border-collapse: collapse;
    border-radius: 30px;
    padding: 0 20px 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.contentmain a{
    margin: auto;
    padding: 0 20px 0 20px;
}

main h1{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 15px 0px 10px 0px;
}

main h3{
    text-align: center;
    font-size: 22px;
    padding: 10px 0px 25px 0px;
}

.contentlocation{
    /*background: linear-gradient(180deg, #ff691f, #e35400);*/
    height: 85vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.addlocation{
    background-color: #7043aa;
    color: white;
    font-size: 18px;
    padding: 10px;
    border: #7043aa solid 3px;
    border-radius: 15px;
    margin: 10px 45px 20px 10px;
    float: right;
    box-shadow: black 5px 5px 10px;
    font-weight: bold;
}

.addlocation:hover{
    scale: 1.1;
    transition: all 0.35s;
    background-color: #cc531c;
}

.location{
    text-align: center;
    /*background-color: #9c1fb5;*/
    overflow: auto;
    width: 95vw;
    margin: auto;
    border-radius: 10px;
    padding: 5px;
    height: 80%;
    box-shadow: black 5px 5px 20px;
}

.contentlocation h1{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 5px;
}

.footerp{
    z-index: 1001;
}

footer{
    height: 7.5vh;
    width: 100vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /*background: linear-gradient(180deg, #2fd0fa, #00a2c8);*/
    /*background: linear-gradient(180deg, #7043aa, #8a4fd6);*/
    background: linear-gradient(180deg, #844fc8, #6c3ea6);
    border-top: 1px black solid;
}

.wave{
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 50px;
    background: url("https://i.ibb.co/nkPQ7Cb/wave1.png");

    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 0.6;
    bottom: 0;
    animation: ani1 4s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.4;
    bottom: 10px;
    animation: ani2 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.3;
    bottom: 15px;
    animation: ani1 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.5;
    bottom: 20px;
    animation: ani2 3s linear infinite;
}

@keyframes ani1 {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}

@keyframes ani2 {
    0% {
        background-position-x: -1000px;
    }
    100% {
        background-position-x: 0px;
    }
}

























.contentpotentialedit{
    /*background-color: #ff6213;*/
    /*background: linear-gradient(180deg, #ff691f, #e35400);*/
    height: 85vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: auto;
    /*box-shadow: black 15px 0px 20px;*/

}

.contentpotentialedit h1{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.potentialuseredit{

    text-align: center;
    /*background-color: #9c1fb5;*/
    overflow: auto;
    width: 95vw;
    margin: auto;
    border-radius: 10px;
    height: 80%;
    box-shadow: black 5px 5px 20px;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    /*align-items: center;*/
}

.potentialuseredit input{
    border-bottom: 1px black solid;
    padding: 5px;
}

.potentialuseredit td,.potentialuseredit tr {
    border: 0px;
}

.editpotential{
    background-color: #7043aa;
    color: white;
    padding: 5px 10px;
    border: #7043aa solid 3px;
    border-radius: 15px;
    margin: 10px 45px 20px 10px;
    box-shadow: black 5px 5px 10px;
    font-weight: bold;
    text-align: center;
}

.editpotential:hover{
    scale: 1.1;
    transition: all 0.35s;
    background-color: #cc531c;
}

.contentpotentialadd{
    /*background-color: #ff6213;*/
    /*background: linear-gradient(180deg, #ff691f, #e35400);*/
    height: 85vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: auto;
    /*box-shadow: black 15px 0px 20px;*/

}

.contentpotentialadd h1{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.potentialuseradd{

    text-align: center;
    /*background-color: #9c1fb5;*/
    overflow: auto;
    width: 95vw;
    margin: auto;
    border-radius: 10px;
    height: 80%;
    box-shadow: black 5px 5px 20px;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    padding-top: 2%;
}

.potentialuseradd input{
    border-bottom: 1px black solid;
    padding: 5px;
}

.potentialuseradd td,.potentialuseradd tr {
    border: 0px;
}

.potentialadd{
    background-color: #7043aa;
    color: white;
    padding: 5px 10px;
    border: #7043aa solid 3px;
    border-radius: 15px;
    margin: 10px 45px 20px 10px;
    box-shadow: black 5px 5px 10px;
    font-weight: bold;
    text-align: center;
}

.potentialadd:hover{
    scale: 1.1;
    transition: all 0.35s;
    background-color: #cc531c;
}

.contentstudentadd{
    /*background-color: #ff6213;*/
    /*background: linear-gradient(180deg, #ff691f, #e35400);*/
    height: 85vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: auto;
    /*box-shadow: black 15px 0px 20px;*/

}

.contentstudentadd h1{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 25px;
}

.contentstudentadd h2{
    text-align: center;
    font-size: 18px;
    padding-bottom: 10px;
}

.studentsectionadd{
    text-align: center;
    /*background-color: #9c1fb5;*/
    overflow: auto;
    width: 95vw;
    margin: auto;
    border-radius: 10px;
    height: 80%;
    box-shadow: black 5px 5px 20px;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    padding-top: 2%;
}

.studentsectionadd table{
    overflow: hidden;
}

.studentsectionadd input{
    border-bottom: 1px black solid;
    padding: 5px;
}

.studentsectionadd td,.studentsectionadd tr {
    border: 0px;
}

.studentadd{
    background-color: #7043aa;
    padding: 5px 10px;
    border: #7043aa solid 3px;
    border-radius: 15px;
    margin: 10px 45px 20px 10px;
    box-shadow: black 5px 5px 10px;
    font-weight: bold;
    text-align: center;
}

.studentadd:hover{
    scale: 1.1;
    transition: all 0.35s;
    background-color: #cc531c;
}

.contentstudentedit{
    /*background-color: #ff6213;*/
    /*background: linear-gradient(180deg, #ff691f, #e35400);*/
    height: 85vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: auto;
    /*box-shadow: black 15px 0px 20px;*/

}

.contentstudentedit h1{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.studentsectionedit{

    text-align: center;
    /*background-color: #9c1fb5;*/
    overflow: auto;
    width: 95vw;
    margin: auto;
    border-radius: 10px;
    height: 80%;
    box-shadow: black 5px 5px 20px;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    padding-top: 2%;
}

.studentsectionedit input{
    border-bottom: 1px black solid;
    padding: 5px;
}

.studentsectionedit td,.studentsectionedit tr {
    border: 0px;
}

.studentedit{
    background-color: #7043aa;
    color: white;
    padding: 5px 10px;
    border: #7043aa solid 3px;
    border-radius: 15px;
    margin: 10px 45px 20px 10px;
    box-shadow: black 5px 5px 10px;
    font-weight: bold;
    text-align: center;
}

.studentedit:hover{
    scale: 1.1;
    transition: all 0.35s;
    background-color: #cc531c;
}

.contentgroupadd, .contentgroupedit, .contentlocationedit, .contentlocationadd, .contentteacheredit, .contentteacheradd, .contentsms{
    /*background-color: #ff6213;*/
    /*background: linear-gradient(180deg, #ff691f, #e35400);*/
    height: 85vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: auto;
    /*box-shadow: black 15px 0px 20px;*/

}

.contentgroupadd h1, .contentgroupedit h1, .contentlocationedit h1, .contentlocationadd h1, .contentteacheredit h1, .contentteacheradd h1, .contentsms h1{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.groupsectionadd, .groupsectionedit, .locationsectionedit, .locationsectionadd, .teachercontentedit, .teachercontentadd, .smssection{

    text-align: center;
    /*background-color: #9c1fb5;*/
    overflow: auto;
    width: 95vw;
    margin: auto;
    border-radius: 10px;
    height: 80%;
    box-shadow: black 5px 5px 20px;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    padding-top: 2%;
}

.groupsectionadd input, .groupsectionedit input, .locationsectionedit input, .locationsectionadd input, .teachercontentedit input, .teachercontentadd input{
    border-bottom: 1px black solid;
    padding: 5px;
}

.groupsectionadd td,.groupsectionadd tr, .groupsectionedit td, .groupsectionedit tr, .locationsectionedit td, .locationsectionedit tr, .locationsectionadd td, .locationsectionadd tr, .teachercontentedit td, .teachercontentedit tr, .teachercontentadd td, .teachercontentadd tr{
    border: 0px;
}

.groupadd, .groupedit, .locationedit, .locationadd, .teacheredit, .teacheradd{
    background-color: #7043aa;
    color: white;
    padding: 5px 10px;
    border: #7043aa solid 3px;
    border-radius: 15px;
    margin: 10px 45px 20px 10px;
    box-shadow: black 5px 5px 10px;
    font-weight: bold;
    text-align: center;
}

.groupadd:hover, .groupedit:hover, .locationedit:hover, .locationadd:hover, .teacheredit:hover, .teacheradd:hover{
    scale: 1.1;
    transition: all 0.35s;
    background-color: #cc531c;
}

body{
    overflow: hidden;
}

.tablescale{
    scale: 0.9;
}

.looking{
   float: left;
    width: 50%;
}

.add{
    float: left;
    width: 50%;
}

.looking button{
    background-color:#7043aa;
    color: white;
    padding: 10px;
    border: #7043aa solid 3px;
    border-radius: 15px;
    margin: 5px 5px 10px 10px;
    box-shadow: black 5px 5px 10px;
    font-weight: bold;
    font-size: 18px;
}

.looking button:hover{
    scale: 1.1;
    transition: all 0.35s;
    background-color: #cc531c;
}

.looking input{
    padding: 10px;
    border: 1px solid black;
    margin: 5px 0px 10px 45px;
    border-radius: 15px;
}

.looking select{
    padding: 10px;
    border: 1px solid black;
    margin: 5px 0px 10px 5px;
    border-radius: 15px;
}

.smsbutton{
    /*background-color: #ff6213;*/
    background-color:#7043aa;
    color: white;
    padding: 10px;
    border: #7043aa solid 3px;
    border-radius: 15px;
    margin: 10px 10px 10px 10px;
    float: right;
    box-shadow: black 5px 5px 10px;
    font-weight: bold;
    font-size: 18px;
}

.smsbutton:hover{
    scale: 1.1;
    transition: all 0.35s;
    background-color: #cc531c;
}

.send{
    /*background-color: #ff6213;*/
    background-color:#7043aa;
    color: white;
    padding: 5px 10px;
    border: #7043aa solid 3px;
    border-radius: 15px;
    margin: 10px 10px 10px 10px;
    box-shadow: black 5px 5px 10px;
    font-weight: bold;
}

.send:hover{
    scale: 1.1;
    transition: all 0.35s;
    background-color: #cc531c;
}

.message, .message textarea{
    width: 70vw;
    text-align: center;
    height: 30vh;
}

.sendmessage table{
    width: 70vw;
}

.studentmessage{
    overflow: auto;
    height: 20vh;
    width: 80vw;
}

.studentmessage::-webkit-scrollbar{
    display: none;
}

.studentmessage{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
