@tailwind base;
@tailwind components;
@tailwind utilities;


/*header div{*/
/*    width: 10vw;*/
/*    display: flex;*/
/*    height: 55px;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    !*border-bottom: 6px solid #66007a;*!*/
/*}*/

/*header{*/

/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    width: 100vw;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 55px;*/
/*    !*background-color: #ae14cb;*!*/
/*    !*background: linear-gradient(180deg, #a01eb8, #9e2db3);*!*/
/*    !*background: linear-gradient(180deg, #2fd0fa, #00a2c8);*!*/
/*    !*background-color: #7043aa   ;*!*/
/*    background: linear-gradient(180deg, #7043aa, #8a4fd6);*/
/*    color: white;*/
/*    font-weight: bold;*/
/*    box-shadow: black 15px 0 20px;*/
/*    border-bottom: solid 1px black;*/
/*}*/

/*.navigator{*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    width: 60vw;*/
/*}*/

/*.logo{*/
/*    width: 40vw;*/
/*    float: left;*/
/*}*/

/*header div:hover{*/
/*    !*border-bottom: 6px solid #66007a;*!*/
/*    border-bottom: 6px solid #51307a;*/
/*    transition: all 0.15s;*/
/*    border-collapse: collapse;*/
/*    background-color: #6b40a1;*/
/*    !*background-color: #008baa;*!*/
/*}*/


table, tr, td, th{
    /*border-collapse: collapse;*/
    border: solid 2px black;
}

tr, th, td{
    padding: 10px 10px;
    margin-bottom: 5px;
}

th{
    background-color: #ff6213;

}

td{
    background-color: white;
    padding: 5px;
    margin: 55px;
}

tr{
    border-radius: 10px;
    margin: 50px;
}

tr:hover td{
    background-color: rgba(183, 191, 202, 0.89);
    transition: all 0.35s;
}



.potentialuser{
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    text-align: center;
    /*background-color: #9c1fb5;*/
    overflow: auto;
    width: 95vw;
    margin: auto;
    border-radius: 10px;
    padding: 5px;
    height: 80%;
    box-shadow: black 5px 5px 20px;
}

.potentialuser::-webkit-scrollbar{
    display: none;
}

.potentialuser{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.student::-webkit-scrollbar{
    display: none;
}

.student{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

table{
    text-align: center;
    border-radius: 10px;
    margin: 5px auto;

}

.addpotential{
    background-color: #7043aa;
    color: white;
    font-size: 18px;
    padding: 10px 11px;
    border: #7043aa solid 3px;
    border-radius: 15px;
    margin: 10px 45px 20px 10px;
    float: right;
    box-shadow: black 5px 5px 10px;
    font-weight: bold;
}

.addpotential:hover{
    scale: 1.1;
    transition: all 0.35s;
    background-color: #cc531c;
}

.del{
    padding: 8px;
}

.edit{
    padding: 10px;
}

table button{
    background-color: #7043aa;
    color: white;
    border-radius: 15px;
    border: #7043aa solid 2px;
    padding: 5px;
    margin: 5px;
}

table button:hover{
    scale: 1.1;
    transition: all .2s;
}

table form, a{
    margin: 0;
    padding: 0;
}

table select, textarea{
    border: 1px solid black;
}

.colored{
    background-color: rgba(221, 226, 232, 0.9);
}

.gap{
    margin: 2px;
}

.contentpotential{
    /*background-color: #ff6213;*/
    /*background: linear-gradient(180deg, #ff691f, #e35400);*/
    height: 85vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: auto;
    /*box-shadow: black 15px 0px 20px;*/

}

.contentpotential h1{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 5px;
}


.contentstudent{
    /*background: linear-gradient(180deg, #ff691f, #e35400);*/
    height: 85vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.student{
    text-align: center;
    overflow: auto;
    width: 95vw;
    margin: auto;
    border-radius: 10px;
    padding: 5px;
    height: 80%;
    box-shadow: black 5px 5px 20px;
}

.contentstudent h1{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 5px;
}

.contentteacher{
    /*background: linear-gradient(180deg, #ff691f, #e35400);*/
    height: 85vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.addteacher{
    background-color: #7043aa;
    padding: 10px;
    font-size: 18px;
    color: white;
    border: #7043aa solid 3px;
    border-radius: 15px;
    margin: 10px 45px 20px 10px;
    float: right;
    box-shadow: black 5px 5px 10px;
    font-weight: bold;
}

.addteacher:hover{
    scale: 1.1;
    transition: all 0.35s;
    background-color: #cc531c;
}

.teacher{
    text-align: center;
    overflow: auto;
    width: 95vw;
    margin: auto;
    border-radius: 10px;
    padding: 5px;
    height: 80%;
    box-shadow: black 5px 5px 20px;
}

.contentteacher h1{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 5px;
}

.contentgroup{
    /*background: linear-gradient(180deg, #ff691f, #e35400);*/
    height: 85vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.addgroup{
    background-color: #7043aa;
    color: white;
    padding: 10px;
    font-size: 18px;
    border: #7043aa solid 3px;
    border-radius: 15px;
    margin: 10px 45px 20px 10px;
    float: right;
    box-shadow: black 5px 5px 10px;
    font-weight: bold;
}

.addgroup:hover{
    scale: 1.1;
    transition: all 0.35s;
    background-color: #cc531c;
}

.group{
    text-align: center;
    /*background-color: #9c1fb5;*/
    overflow: auto;
    width: 95vw;
    margin: auto;
    border-radius: 10px;
    padding: 5px;
    height: 80%;
    box-shadow: black 5px 5px 20px;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.contentgroup h1{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 5px;
}

main{
    /*background: linear-gradient(180deg, #b4efff, #7ccddc);*/
    height: 85vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.maindiv{
    /*background-color: darkgrey;*/
    /*background-color: #3cb5d8;*/
    background-color: #ef7d00;
    width: 192px;
    height: 20vh;
    /*float: left;*/
    display: flex;
    flex-wrap: wrap;
    /*padding: 20px 20px;*/
    text-align: center;
    margin: 10px 5%;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    /*margin: 20px auto;*/
    border-radius: 10px;
}

.maindiv:hover{
    /*background-color: darkgrey;*/
    background-color: #ef7d00;
    transition: all 0.3s;
    scale: 1.1;
    box-shadow: black 1px 1px 10px;
}

.contentmain {
    width: 90vw;
    height: 60vh;
    margin: auto;
    border-collapse: collapse;
    border-radius: 30px;
    padding: 0 20px 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.contentmain a{
    margin: auto;
    padding: 0 20px 0 20px;
}

main h1{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 15px 0 10px 0;
}

main h3{
    text-align: center;
    font-size: 22px;
    padding: 10px 0 25px 0;
}

.contentlocation{
    /*background: linear-gradient(180deg, #ff691f, #e35400);*/
    height: 85vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.addlocation{
    background-color: #7043aa;
    color: white;
    font-size: 18px;
    padding: 10px;
    border: #7043aa solid 3px;
    border-radius: 15px;
    margin: 10px 45px 20px 10px;
    float: right;
    box-shadow: black 5px 5px 10px;
    font-weight: bold;
}

.addlocation:hover{
    scale: 1.1;
    transition: all 0.35s;
    background-color: #cc531c;
}

.location{
    text-align: center;
    /*background-color: #9c1fb5;*/
    overflow: auto;
    width: 95vw;
    margin: auto;
    border-radius: 10px;
    padding: 5px;
    height: 80%;
    box-shadow: black 5px 5px 20px;
}

.contentlocation h1{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 5px;
}

.footerp{
    z-index: 1001;
}

footer{
    height: 7.5vh;
    width: 100vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /*background: linear-gradient(180deg, #2fd0fa, #00a2c8);*/
    /*background: linear-gradient(180deg, #7043aa, #8a4fd6);*/
    background: linear-gradient(180deg, #844fc8, #6c3ea6);
    border-top: 1px black solid;
}

.wave{
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 50px;
    background: url("https://i.ibb.co/nkPQ7Cb/wave1.png");

    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 0.6;
    bottom: 0;
    animation: ani1 4s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.4;
    bottom: 10px;
    animation: ani2 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.3;
    bottom: 15px;
    animation: ani1 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.5;
    bottom: 20px;
    animation: ani2 3s linear infinite;
}

@keyframes ani1 {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0;
    }
}

@keyframes ani2 {
    0% {
        background-position-x: -1000px;
    }
    100% {
        background-position-x: 0;
    }
}

























.contentpotentialedit{
    /*background-color: #ff6213;*/
    /*background: linear-gradient(180deg, #ff691f, #e35400);*/
    height: 85vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: auto;
    /*box-shadow: black 15px 0px 20px;*/

}

.contentpotentialedit h1{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.potentialuseredit{

    text-align: center;
    /*background-color: #9c1fb5;*/
    overflow: auto;
    width: 95vw;
    margin: auto;
    border-radius: 10px;
    height: 80%;
    box-shadow: black 5px 5px 20px;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    /*align-items: center;*/
}

.potentialuseredit input{
    border-bottom: 1px black solid;
    padding: 5px;
}

.potentialuseredit td,.potentialuseredit tr {
    border: 0;
}

.editpotential{
    background-color: #7043aa;
    color: white;
    padding: 5px 10px;
    border: #7043aa solid 3px;
    border-radius: 15px;
    margin: 10px 45px 20px 10px;
    box-shadow: black 5px 5px 10px;
    font-weight: bold;
    text-align: center;
}

.editpotential:hover{
    scale: 1.1;
    transition: all 0.35s;
    background-color: #cc531c;
}

.contentpotentialadd{
    /*background-color: #ff6213;*/
    /*background: linear-gradient(180deg, #ff691f, #e35400);*/
    height: 85vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: auto;
    /*box-shadow: black 15px 0px 20px;*/

}

.contentpotentialadd h1{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.potentialuseradd{

    text-align: center;
    /*background-color: #9c1fb5;*/
    overflow: auto;
    width: 95vw;
    margin: auto;
    border-radius: 10px;
    height: 80%;
    box-shadow: black 5px 5px 20px;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    padding-top: 2%;
}

.potentialuseradd input{
    border-bottom: 1px black solid;
    padding: 5px;
}

.potentialuseradd td,.potentialuseradd tr {
    border: 0;
}

.potentialadd{
    background-color: #7043aa;
    color: white;
    padding: 5px 10px;
    border: #7043aa solid 3px;
    border-radius: 15px;
    margin: 10px 45px 20px 10px;
    box-shadow: black 5px 5px 10px;
    font-weight: bold;
    text-align: center;
}

.potentialadd:hover{
    scale: 1.1;
    transition: all 0.35s;
    background-color: #cc531c;
}

.contentstudentadd{
    /*background-color: #ff6213;*/
    /*background: linear-gradient(180deg, #ff691f, #e35400);*/
    height: 85vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: auto;
    /*box-shadow: black 15px 0px 20px;*/

}

.contentstudentadd h1{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 25px;
}

.contentstudentadd h2{
    text-align: center;
    font-size: 18px;
    padding-bottom: 10px;
}

.studentsectionadd{
    text-align: center;
    /*background-color: #9c1fb5;*/
    overflow: auto;
    width: 95vw;
    margin: auto;
    border-radius: 10px;
    height: 80%;
    box-shadow: black 5px 5px 20px;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    padding-top: 2%;
}

.studentsectionadd table{
    overflow: hidden;
}

.studentsectionadd input{
    border-bottom: 1px black solid;
    padding: 5px;
}

.studentsectionadd td,.studentsectionadd tr {
    border: 0;
}

.studentadd{
    background-color: #7043aa;
    padding: 5px 10px;
    border: #7043aa solid 3px;
    border-radius: 15px;
    margin: 10px 45px 20px 10px;
    box-shadow: black 5px 5px 10px;
    font-weight: bold;
    text-align: center;
}

.studentadd:hover{
    scale: 1.1;
    transition: all 0.35s;
    background-color: #cc531c;
}

.contentstudentedit{
    /*background-color: #ff6213;*/
    /*background: linear-gradient(180deg, #ff691f, #e35400);*/
    height: 85vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: auto;
    /*box-shadow: black 15px 0px 20px;*/

}

.contentstudentedit h1{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.studentsectionedit{

    text-align: center;
    /*background-color: #9c1fb5;*/
    overflow: auto;
    width: 95vw;
    margin: auto;
    border-radius: 10px;
    height: 80%;
    box-shadow: black 5px 5px 20px;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    padding-top: 2%;
}

.studentsectionedit input{
    border-bottom: 1px black solid;
    padding: 5px;
}

.studentsectionedit td,.studentsectionedit tr {
    border: 0;
}

.studentedit{
    background-color: #7043aa;
    color: white;
    padding: 5px 10px;
    border: #7043aa solid 3px;
    border-radius: 15px;
    margin: 10px 45px 20px 10px;
    box-shadow: black 5px 5px 10px;
    font-weight: bold;
    text-align: center;
}

.studentedit:hover{
    scale: 1.1;
    transition: all 0.35s;
    background-color: #cc531c;
}

.contentgroupadd, .contentgroupedit, .contentlocationedit, .contentlocationadd, .contentteacheredit, .contentteacheradd, .contentsms{
    /*background-color: #ff6213;*/
    /*background: linear-gradient(180deg, #ff691f, #e35400);*/
    height: 85vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: auto;
    /*box-shadow: black 15px 0px 20px;*/

}

.contentgroupadd h1, .contentgroupedit h1, .contentlocationedit h1, .contentlocationadd h1, .contentteacheredit h1, .contentteacheradd h1, .contentsms h1{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.groupsectionadd, .groupsectionedit, .locationsectionedit, .locationsectionadd, .teachercontentedit, .teachercontentadd, .smssection{

    text-align: center;
    /*background-color: #9c1fb5;*/
    overflow: auto;
    width: 95vw;
    margin: auto;
    border-radius: 10px;
    height: 80%;
    box-shadow: black 5px 5px 20px;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    padding-top: 2%;
}

.groupsectionadd input, .groupsectionedit input, .locationsectionedit input, .locationsectionadd input, .teachercontentedit input, .teachercontentadd input{
    border-bottom: 1px black solid;
    padding: 5px;
}

.groupsectionadd td,.groupsectionadd tr, .groupsectionedit td, .groupsectionedit tr, .locationsectionedit td, .locationsectionedit tr, .locationsectionadd td, .locationsectionadd tr, .teachercontentedit td, .teachercontentedit tr, .teachercontentadd td, .teachercontentadd tr{
    border: 0;
}

.groupadd, .groupedit, .locationedit, .locationadd, .teacheredit, .teacheradd{
    background-color: #7043aa;
    color: white;
    padding: 5px 10px;
    border: #7043aa solid 3px;
    border-radius: 15px;
    margin: 10px 45px 20px 10px;
    box-shadow: black 5px 5px 10px;
    font-weight: bold;
    text-align: center;
}

.groupadd:hover, .groupedit:hover, .locationedit:hover, .locationadd:hover, .teacheredit:hover, .teacheradd:hover{
    scale: 1.1;
    transition: all 0.35s;
    background-color: #cc531c;
}

body{
    overflow: hidden;
}

.tablescale{
    scale: 0.9;
}

/*.looking{*/
/*   float: left;*/
/*    width: 55%;*/
/*    height: 100%;*/
/*}*/

/*.butttons{*/
/*    float: left;*/
/*    height: 100%;*/
/*    width: 15%;*/
/*}*/

/*.add{*/
/*    float: left;*/
/*    width: 30%;*/
/*    height: 100%;*/
/*}*/


/*.butttons button{*/
/*    background-color:#7043aa;*/
/*    color: white;*/
/*    padding: 10px;*/
/*    border: #7043aa solid 3px;*/
/*    border-radius: 15px;*/
/*    margin: 5px 5px 10px 10px;*/
/*    box-shadow: black 5px 5px 10px;*/
/*    font-weight: bold;*/
/*    font-size: 18px;*/
/*}*/


/*.butttons button:hover{*/
/*    scale: 1.1;*/
/*    transition: all 0.35s;*/
/*    background-color: #cc531c;*/
/*}*/

/*.looking input{*/
/*    padding: 10px;*/
/*    border: 1px solid black;*/
/*    margin: 5px 0 10px 45px;*/
/*    border-radius: 15px;*/
/*}*/

/*.looking select{*/
/*    padding: 10px;*/
/*    border: 1px solid black;*/
/*    margin: 5px 0 10px 5px;*/
/*    border-radius: 15px;*/
/*}*/

/*.smsbutton{*/
/*    !*background-color: #ff6213;*!*/
/*    background-color:#7043aa;*/
/*    color: white;*/
/*    padding: 10px;*/
/*    border: #7043aa solid 3px;*/
/*    border-radius: 15px;*/
/*    margin: 10px 10px 10px 10px;*/
/*    float: right;*/
/*    box-shadow: black 5px 5px 10px;*/
/*    font-weight: bold;*/
/*    font-size: 18px;*/
/*}*/

/*.smsbutton:hover{*/
/*    scale: 1.1;*/
/*    transition: all 0.35s;*/
/*    background-color: #cc531c;*/
/*}*/

.send{
    /*background-color: #ff6213;*/
    background-color:#7043aa;
    color: white;
    padding: 5px 10px;
    border: #7043aa solid 3px;
    border-radius: 15px;
    margin: 10px 10px 10px 10px;
    box-shadow: black 5px 5px 10px;
    font-weight: bold;
}

.send:hover{
    scale: 1.1;
    transition: all 0.35s;
    background-color: #cc531c;
}

.message, .message textarea{
    width: 70vw;
    text-align: center;
    height: 30vh;
}

.sendmessage table{
    width: 70vw;
}

.studentmessage{
    overflow: auto;
    height: 20vh;
    width: 80vw;
}

.studentmessage::-webkit-scrollbar{
    display: none;
}

.studentmessage{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

span{
    color: red;
}

@media screen and (max-width: 949px) {

    header{
        display: flex;
        /*flex-wrap: wrap;*/
        width: 100vw;
        justify-content: center;
        align-items: center;
        height: 55px;
        background: linear-gradient(180deg, #7043aa, #8a4fd6);
        color: white;
        font-weight: bold;
        box-shadow: black 15px 0 20px;
        border-bottom: solid 1px black;
    }

    .menu {
        display: none;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        background: linear-gradient(180deg, #7043aa, #8a4fd6);
        position: absolute;
        top: 55px;
        left: 0;
        padding: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transform: translateY(-100%);
        opacity: 0;
    }

    .menu.active {
        display: flex;
        transform: translateY(0);
        opacity: 1;
    }

    .hamburger {
        display: flex;
        float: right;
    }

    .hamburger .line {
        width: 25px;
        height: 3px;
        background-color: white;
    }

    .navigator {
        width: 100%;
        justify-content: space-between;
    }

    .hamburger{
        width: 10vw;
        display: flex;
        height: 55px;
        align-items: center;
        justify-content: center;
        gap: 5px;
        cursor: pointer;
        flex-direction: column;
        margin-right: 5px;
    }






}

@media screen and (max-width: 767px){

    .looking input{
        width: 150px;
        margin: 0 0 0 10px;
        font-size: 10px;
    }

    .looking select{
        width: 100px;
        font-size: 10px;
        margin-right: 210px;
        margin-left: 10px;
        height: 20px;
        padding: 0 0 0 5px;
    }

    .butttons button{

    }

    .add button{
        margin: 5px 10px 0 5px;
    }

    .add{
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: end;
        float: left;
        width: 30%;
        height: 100%;
    }

    .butttons{
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: end;
        float: left;
        height: 100%;
        width: 20%;
    }

    .looking{
        display: flex;
        flex-direction: column;
        justify-content: end;
        float: left;
        width: 50%;
        height: 100%;
    }

    .logo{
        margin-left: 5px;
    }

    .student, .potentialuser, .group{
        height: 65%;
    }


    .butttons button{
        background-color:#7043aa;
        color: white;
        padding: 10px;
        border: #7043aa solid 3px;
        border-radius: 15px;
        margin: 5px 10px 0 5px;
        box-shadow: black 5px 5px 10px;
        font-weight: bold;
        font-size: 18px;
    }


    .butttons button:hover{
        scale: 1.1;
        transition: all 0.35s;
        background-color: #cc531c;
    }

}


@media screen and (min-width: 950px) {
    .hamburger{
        display: none;
    }

    .n{
        width: 10vw;
        display: flex;
        height: 55px;
        align-items: center;
        justify-content: center;
    }

    header{
        display: flex;
        width: 100vw;
        justify-content: center;
        align-items: center;
        height: 55px;
        background: linear-gradient(180deg, #7043aa, #8a4fd6);
        color: white;
        font-weight: bold;
        box-shadow: black 15px 0 20px;
        border-bottom: solid 1px black;
    }

    .menu{
        display: flex;
        padding: 0;
        margin: 0;
    }

    .logo{
        width: 40vw;
    }

    .n:hover{
        border-bottom: 6px solid #51307a;
        transition: all 0.15s;
        border-collapse: collapse;
        background-color: #6b40a1;
    }

}




.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 15px;
}

.center h1{
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px dotted silver;
    font-size: 25px;
    font-weight: bold;
}

.center form{
    padding: 0 40px 10px;
    box-sizing: border-box;
}

.center form .text_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.text_field input{
    width: 100%;
    padding: 0 1px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.text_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #7043aa;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.text_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 2px;
    background: #7043aa;
    transition: .5s;
}

.text_field input:focus ~ label,
.text_field input:valid ~ label{
    top: -3px;
    color: #7043aa;
}

.text_field input:focus ~ span::before,
.text_field input:valid ~ span::before{
    width: 100%;
}

.pass{
    margin: -5px 0 20px 5px;
    color: black;
    cursor: pointer;
}

.pass:hover{
    text-decoration: dotted underline;
}

.center input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #7043aa;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.center input[type="submit"]:hover{
    border-color: #7043aa;
    transition: .5s;
    scale: 1.05;
}

.singup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    /* font-family: fantasy; */
    color: white;
}

.singup_link a{
    color: #7043aa;
    text-decoration: none;
}

.singup_link a:hover{
    text-decoration: underline dotted;
    cursor: pointer;
}


.login{
    height: 92.5vh;
    position: relative;
}

.addstudent, .smsbutton, .look, .refresh{
    /*background-color: #ff6213;*/
    background-color:#7043aa;
    color: white;
    font-size: 18px;
    padding: 10px 11px;
    border: #7043aa solid 3px;
    border-radius: 15px;
    /*margin: 10px 45px 10px 10px;*/
    float: right;
    box-shadow: black 5px 5px 10px;
    font-weight: bold;
}

.addstudent:hover,  .smsbutton:hover, .look:hover, .refresh:hover{
    scale: 1.1;
    transition: all 0.35s;
    background-color: #cc531c;
}

.searchinput input{
    padding: 0 10px;
    border: 1px solid black;
    margin: auto 10px auto 25px;
    border-radius: 15px;
    width: 50%;
    text-align: center;
    height: 100%;
}

.searchinput select{
    padding: 0 10px;
    border: 1px solid black;
    margin: auto 10px;
    border-radius: 15px;
    width: 40%;
    text-align: center;
    height: 100%;
}

.searchinput, .buttsearch, .addimail{
    float: left;
    margin-bottom: 10px;
}



.searchinput{
    width: 60%;
    height: 100%;
}

.buttsearch{
    width: 20%;
    display: flex;
    align-items: center;
    height: 100%;

}

.addimail{
    width: 20%;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
}

.buttsearch button{
    float: left;
    /*margin: auto 15px auto 5px;*/
}

.buttsearch a{
    margin: auto 15px;
    padding: 0;
}

.addimail button{
    /*float: right;*/
    /*margin: auto 15px auto 5px;*/
}

.addimail a{
    margin: 0;
    padding: 0;
}

.addimail a{
    margin-right: 25px;
}

.helpo{
    height: 7vh;
}

#search{
    height: 100%;
}

#send{
    height: 100%;
    float: right;
}

.addimail form{
    padding: 0;
    margin: 0;
    /*height: 100%;*/
    float: right;
    display: flex;
    align-items: center;
}

.smsbutton{
    margin-right: 25px;
}
